.logo{
  color: rgb(87, 92, 18) !important;
}

nav{
  background-color: #171a1d;
}

.footer{
  background-color: #171a1d;
  position: fixed;
  bottom: 0;
}

.piggy-background{
  display: block;
}

.piggy-background img{
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: -1;
}